<div [class.center]='true'>
  <h3>User Details</h3>
  <input [(ngModel)]="name" placeholder="Name">
  <br>
  <input [(ngModel)]="email" placeholder="Email">
  <br>
  <textarea [(ngModel)]="address" placeholder="Address" cols="25" rows="5"></textarea>
  <br>
  <button (click)="fx3()">Save Data</button>
<br>
  <div *ngIf="userArray.length > 0 else noData">
    <table>
      <thead>  
        <th>#</th>
        <th>Name</th> 
        <th>Email</th>
        <th>Address</th>
        <th>Action</th>
      </thead>
      <tr *ngFor="let loop of userArray; let i = index">
       <td>{{i+1}}</td>
       <td>{{loop.name}}</td>
       <td>{{loop.email}}</td>
       <td>{{loop.address}}</td>
       <td><button (click)="fx4(i)">Delete</button></td>
      </tr>
    </table>
  </div>
  <ng-template #noData>
    <h3>No Data To Show</h3>
  </ng-template>
</div>
