<div class="container mt-5">
  <h1>Template Driven Form</h1>
  <div class="form-area">
    <form #f="ngForm" (submit)="onSubmit(f)">
      <div class="form-group">
        <label> First Name </label>
        <input
          type="text"
          placeholder="Full name"
          name="firstName"
          ngModel
          #e="ngModel"
          required
          minlength="5"
          maxlength="20"
          [ngClass]="{
            'form-control': true,
            ' is-invalid': e.touched && e.invalid
          }"
        /> 
      </div>
      <div *ngIf="e.errors">
        <div class="alert alert-danger" *ngIf="e.touched && !e.value">
          Name is Required
        </div>
        <div class="alert alert-danger" *ngIf="e.errors.minlength && e.touched">
          Name should be 5 characters at least
        </div>
      </div>
      <div class="form-group">
        <label> Email </label>
        <input
          type="email"
          placeholder="Email"
          [ngClass]="{
            'form-control': true,
            ' is-invalid': em.touched && em.invalid
          }"
          name="email"
          ngModel
          #em="ngModel"
          required
          pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
        />
      </div>
      <div *ngIf="em.errors">
        <div
          class="alert alert-danger"
          *ngIf="em.touched && !em.value && em.invalid"
        >
          Email is Required
        </div>
        <div class="alert alert-danger" *ngIf="em.errors.pattern && em.touched">
          Invalid Email Address
        </div>
      </div>
      <div class="form-group">
        <label> Address </label>
        <textarea
          cols="30"
          rows="10"
          placeholder="Address"
          name="address"
          ngModel
          required
          #add="ngModel"
          [ngClass]="{
            'form-control': true,
            ' is-invalid': add.touched && add.invalid
          }"
        >
        </textarea>
      </div>
      <div
        class="alert alert-danger"
        *ngIf="add.touched && !add.value && add.invalid"
      >
        Address is Required
      </div>

      <button [disabled]="f.invalid" type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
